/* Estilos generales para el formulario */
.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto; /* Para centrar el formulario */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 2px solid #131010;
    border-radius: 3px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="submit"],
input[type="radio"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media queries */
/* Pantallas más pequeñas: móviles y tabletas */
@media screen and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}

/* Pantallas más grandes: laptops y escritorios */
@media screen and (min-width: 768px) {
    .container {
        width: 70%;
    }
}
